
@import url(fontiran.css);

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
    background-color: #0080ec;
}
/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    padding:0;
    margin:0 0 0 0;
    list-style: none;
    position: relative;
    text-align: right;
    direction: rtl;
    }
/* Positioning the navigation items inline */
nav ul li {
    margin: 0px 20px 0 0;
    display:inline-block;
    background-color: #0080ec;
    }
nav > ul > li {
        border-right: 1px solid #aaa;
        padding-right: 5px;
    }
/* Styling the links */
nav a {
    display:block;
    padding:0 2px;
    color:#FFF;
    font-size:12px;
    line-height: 20px;
    text-decoration:none;
    font-family: IRANSans;
}

nav>ul>li>a {
    padding:4px 2px;
}
/* Background color change on Hover */
nav a:hover {
    background-color: #000000;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}
/* Fisrt Tier Dropdown */
nav ul ul li {
    min-width:270px;
    margin: 0;
    padding: 5px 2px;
    float:none;
    display:list-item;
    position: relative;
    background-color: #0060cc;
    border-top: 1px solid #fff;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:before { content:  '+ '; }
li > a:only-child:before { content: ''; }